= javascript_include_tag 'remove_cart_item'

.card-wrapper
  .card{id: "item-#{product.id}"}
    %img.card-img-top{alt: "Product Image", src: url_for(product.images[0])}/
    .card-body
      = link_to product.name.slice(0, 40), products_path(product), class: "h5 card-title text-decoration-none"
      - if cart.nil?
        = form_with url: cart_items_path(product), method: :post, local: true do |form|
          = form.button type: :submit, class: "btn btn-primary-custom btn-sm",onclick: "flashMessage('Product has been added to cart!','success')"  do
            %i.fas.fa-shopping-cart
            = "Add to Cart"
      - else
        .mb-2.mt-2
          = form_with url: products_path(product), method: :get, local: true do |form|
            = form.button type: :submit, class: "btn btn-primary-custom btn-sm" do
              %i.fas.fa-shopping-cart
              = "Buy"
        = form_with url: remove_item_path(product), method: :delete do |form|
          = form.button type: :submit, class: "btn btn-primary-custom btn-sm", onclick: "removeCartItem(#{product.id})" do
            %i.fas.fa-shopping-cart
            = "Remove"

= javascript_include_tag 'flash_messages'
