%h1 Listing product_inquiries

%table
  %thead
    %tr
      %th Product
      %th Email
      %th Comments
      %th
      %th
      %th

  %tbody
    - @product_inquiries.each do |product_inquiry|
      %tr
        %td= product_inquiry.product_id
        %td= product_inquiry.email
        %td= product_inquiry.comments
        %td= link_to 'Show', product_inquiry
        %td= link_to 'Edit', edit_product_inquiry_path(product_inquiry)
        %td= link_to 'Destroy', product_inquiry, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product inquiry', new_product_inquiry_path
