%p#notice= notice

%p
  %b Product:
  = @product_inquiry.product_id
%p
  %b Email:
  = @product_inquiry.email
%p
  %b Comments:
  = @product_inquiry.comments

= link_to 'Edit', edit_product_inquiry_path(@product_inquiry)
\|
= link_to 'Back', product_inquiries_path
