!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rafiq General Trading
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{href: 'https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css', rel: 'stylesheet'}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render partial: 'partials/navbar'
    -# %p.notice= notice
    -# %p.alert= alert
    = yield        
    / Footer
    %footer.bg-li
      .container
        .m-0.text-center.text-white 
          %p Whiteladies Business Centre, 12 Whiteladies Road, Bristol, BS8 1PD
          %p Rafiqgeneraltarding@yahoo.com
          %p (+44) 7786012104
    / Bootstrap core JS
    %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"}
